<!DOCTYPE html>
<html>
<head>
<title>Ruby|Web Conference - {{ page.title }}</title>
<link rel="stylesheet" type="text/css" media="all" href="stylesheets/reset.css" />
<link rel="stylesheet" type="text/css" media="all" href="stylesheets/rubyweb.css" />
</head>

<body>

<div id="container">

<h1 id="heading">
  <a href="index">Ruby|Web Conference 2010</a>
</h1>

<ul id="nav">
  <li><a href="/">Home</a></li>
  <li><a href="http://bit.ly/rubyweb2010register">Register</a></li>
  <li><a href="/sessions">Sessions</a></li>
  <li><a href="/speakers">Speakers</a></li>
  <li><a href="/prospectus">Sponsors</a></li>
</ul>

<div id="stage">

  <div id="content">
    {{ content }}
  </div>

  <div id="side">

	<p><strong>September 9-10, 2010</strong><br>
	Cliff Lodge<br>
	<a href="http://www.snowbird.com/">Snowbird Resort</a><br>
	Highway 210<br>
	Little Cottonwood Canyon<br>
	Snowbird, UT 84092</p>
	<h3><a href="http://bit.ly/rubyweb2010register">Register Now</a></h3>
    <p>Registration is just $179 for two days with breakfast and lunch included. <a href="http://bit.ly/rubyweb2010register">Register now!</a></strong></p>
    <h3><a href="http://www.snowbird.com/">Stay at Snowbird</a></h3>
    <p>Stay in the Cliff Lodge for just $89 a night. Be sure to enter the <strong>2BB5Q3</strong> group code. <a href="http://www.snowbird.com/">Reserve now!</a></strong></p>
    <hr>
    <p>Follow us on <a href="https://twitter.com/rubywebconf">twitter</a> and our <a href="http://www.facebook.com/event.php?eid=108737102510287">facebook event</a>!</p>
    <p>You got your Web in my Ruby conference! No, you got your Ruby in my Web conference! Can't we all just get along?</p>
  </div>

</div>

</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-2009884-3");
pageTracker._trackPageview();
</script>

</body>
</html>